<!DOCTYPE html>
<html>
    <head>
        <title>Barkane Arts</title>
    </head>
    <body>
        {% block container %}
            {% block contents %}{% endblock %}
        {% endblock %}
    </body>
</html>